<phpunit
  bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="PHP AppEngine SDK">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">tests</directory>
      <exclude>
        <directory  <directory>src</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>

