<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="PHP AppEngine SDK">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
    <filter>
    <whitelist>
      <directory>./tests</directory>
      <directory>./src</directory>
    </whitelist>
  </filter>

</phpunit>

